<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Engine</title>
</head>
<body>
    <div class="container">
        <!-- Passign vriable value from the js to html  -->
        <h4><%= title %></h4>
    </div>
</body>
</html>