<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>Attendance System</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <a href="#home" style="background-color: #cbcaca;">Home</a>
            <a href="/user/edit">Profile</a>
            <button class="logout" id="logout" onclick="window.location.href='/logout'">Logout</button>
        </div>
        <div class="body">
            <div class="details">
                <div class="info">
                    <h1>WELCOME <%= name %></h1>
                    <p>[.....Details of the user......]</p>
                </div>
                <div class="pic">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCbjdEAA_iKW6KLEBOB_01XOdQjvnBqdUslNPycIanwQqvji_15mW5kfPQsziLLhdGwvA&usqp=CAU">
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>